{% extends 'base.html' %}


{% block main %}

	<div class="main__inner">
		<section class="section clr-pink">
			<div class="section__inner">
				<h1 class="title title-h1">Регистрация в систему</h1>

				<p class="text">Заходи не бойся, выходи - не плачь.</p>
			</div>
		</section>

		<section class="section clr-purple">
			<div class="section__inner">
				<form class="form form-60" action="" method="post" name="register" novalidate>
					<fieldset class="form__fieldset">
						<legend>Данные для регистрации</legend>

						{{ form.hidden_tag() }}

						<label class="form__label">
							Имя:
							{{ form.name( class="form__input", id="name", placeholder="name"  ) }}
						</label>

							{% for error in form.name.errors %}
								<div class="notice clr-danger clr-white-text text text-md"
									 onclick="this.classList.add('none')">
									{{error}}
								</div>
							{% endfor %}

						<label class="form__label">
							Логин:
							{{ form.username( class="form__input", id="username", placeholder="login"  ) }}
						</label>

							{% for error in form.username.errors %}
								<div class="notice clr-danger clr-white-text text text-md"
									 onclick="this.classList.add('none')">
									{{error}}
								</div>
							{% endfor %}

						<label class="form__label">
							Эл. почта:
							{{ form.email( class="form__input", id="email", placeholder="soap@example.com"  ) }}
						</label>

							{% for error in form.email.errors %}
								<div class="notice clr-danger clr-white-text text text-md"
									 onclick="this.classList.add('none')">
									{{error}}
								</div>
							{% endfor %}

						<label class="form__label">
							Телефон:
							{{ form.phone( class="form__input", id="phone", placeholder="88005553535"  ) }}
						</label>

							{% for error in form.phone.errors %}
								<div class="notice clr-danger clr-white-text text text-md"
									 onclick="this.classList.add('none')">
									{{error}}
								</div>
							{% endfor %}

						<label class="form__label">
							Пол:
							{{ form.sex( class="form__input form__input-radio", id="sex" ) }}
						</label>

							{% for error in form.sex.errors %}
								<div class="notice clr-danger clr-white-text text text-md"
									 onclick="this.classList.add('none')">
									{{error}}
								</div>
							{% endfor %}

						<label class="form__label">
							Пароли:
							{{ form.password( class="form__input", id="password", placeholder="password" ) }}
							{{ form.password2( class="form__input", id="password2", placeholder="password" ) }}
						</label>

							{% for error in form.password.errors %}
								<div class="notice clr-danger clr-white-text text text-md"
									 onclick="this.classList.add('none')">
									{{error}}
								</div>
							{% endfor %}

							{% for error in form.password2.errors %}
								<div class="notice clr-danger clr-white-text text text-md"
									 onclick="this.classList.add('none')">
									{{error}}
								</div>
							{% endfor %}
					</fieldset>

					{{ form.submit( class="btn btn-round btn-white", value="Зарегистрироваться" ) }}
				</form>

			</div>
		</section>
	</div>

{% endblock %}
