/* ---------------------------------- media --------------------------------- */

/* --------------------- 1600 - 1700 -------------------- */

@media screen and (max-width: 1700px) {

	.header__inner{
		width: 80%;
	}
	.main__inner{
		width: 80%;
	}
	.footer__inner{
		width: 80%;
	}

}

/* --------------------- 1500 - 1600 -------------------- */

@media screen and (max-width: 1600px) {

	.header__inner{
		width: 82.5%;
	}
	.main__inner{
		width: 82.5%;
	}
	.footer__inner{
		width: 82.5%;
	}

}

/* --------------------- 1400 - 1500 -------------------- */

@media screen and (max-width: 1500px) {

	.header__inner{
		width: 85%;
	}
	.main__inner{
		width: 85%;
	}
	.footer__inner{
		width: 85%;
	}

}

/* --------------------- 1300 - 1400 -------------------- */

@media screen and (max-width: 1400px) {

	.header__inner{
		width: 90%;
	}
	.main__inner{
		width: 90%;
	}
	.footer__inner{
		width: 90%;
	}

}

/* --------------------- 1200 - 1300 -------------------- */

@media screen and (max-width: 1300px) {

	.header__inner{
		width: 95%;
	}
	.main__inner{
		width: 95%;
	}
	.footer__inner{
		width: 95%;
	}

}

/* --------------------- 1000 - 1200 -------------------- */

@media screen and (max-width: 1200px) {

	.header{
		background-color: var(--color-light);
	}
	.header__inner{
		width: 95%;
	}
	.aside__content .section{
		top: 85px;
	}
	.main{
		background-color: var(--color-light);
	}
	.main__inner{
		width: 100%;
	}
	.main__inner-aside{
		grid-column-gap: 0;
	}
	.footer{
		background-color: var(--color-light);
	}
	.footer__inner{
		width: 95%;
	}

}

/* - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 1200px) {

	.section{
		margin: 0;
		padding: 20px 0;
		border-radius: 0;
	}
	.section-aside-name{
		height: 100%;
		border-top-right-radius: 35px;
		border-bottom-right-radius: 35px;
		padding: 0;
	}

	.section__flex.w60{
		width: 75%;
	}

	.block{
		flex-basis: 26%;
	}

	.form-subscribe__input-text{
		width: 65%;
	}

}

/* --------------------- 800 - 1000 --------------------- */

@media screen and (max-width: 1000px) {

	.body{
		grid-template-rows: auto 1fr auto;
		font-size: 15px;
	}
	.block-footer{
		grid-template-areas: "bf_col1 bf_col4 bf_col4"
							 "bf_col1 bf_col2 bf_col3";
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr 0.6fr 0.6fr;
		grid-row-gap: 30px;
	}

}

/* - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 1000px) {

	.logo-md{
		font-size: 1.75em;
	}
	.logo-md .logo-image{
		width: 40px;
	}
	.logo-lg{
		font-size: 2em;
	}
	.logo-lg .logo-image{
		width: 60px;
	}

	.section__inner{
		padding: 20px 20px;
	}

	.section__flex.w60{
		width: 85%;
	}

	.form-subscribe__input-text{
		width: 70%;
	}

}

/* ---------------------- 600 - 800 --------------------- */

@media screen and (max-width: 800px) {

	.header__inner{
		display: grid;
		grid-template-areas: "hi_logo hi_tel"
							 "hi_nav  hi_nav";
		grid-template-columns: 1fr auto;
		grid-template-rows: auto auto;
	}
	.header__logo{
		grid-area: hi_logo;
	}
	.header__cart{
		grid-area: hi_tel;
		display: flex;
	}
	.nav{
		grid-area: hi_nav;
	}
	.footer .block-footer{
		display: grid;
		grid-template-areas: "bf_col1 bf_col1"
							 "bf_col2 bf_col3"
							 "bf_col4 bf_col4";
		grid-template-rows: auto auto auto;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 30px;
	}

}

/* - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 800px){

	.section-filter-aside{
		display: none;
	}

	.section-filter-main{
		display: block;
	}

	.block-plus{
		flex-basis: 90%;
	}

	.form-subscribe__input-text{
		width: 75%;
	}

}
@media screen and (max-width: 800px) {

	.cart__block__row{
		grid-template-areas: "cbr_icon cbr_info"
							 "cbr_btns cbr_btns";
		grid-template-columns: 0.5fr 1fr;
		grid-template-rows: 1fr auto;
	}
	.cart__block__row-btns{
		justify-content: center;
	}

}

/* ---------------------- 450 - 600 --------------------- */

@media screen and (max-width: 600px) {

	.body {
		font-size: 18px;
	}

	.logo-sm{
		font-size: 1.3rem;
	}
	.logo-sm .logo-image{
		width: 30px;
	}
	.logo-md{
		font-size: 1.3rem;
	}
	.logo-md .logo-image{
		width: 30px;
	}
	.logo-lg{
		font-size: 1.6rem;
	}
	.logo-lg .logo-image{
		width: 40px;
	}

	.title-h1{
		font-size: 2.3em;
	}

	.link{
		font-size: 1.15rem;
		margin-right: 10px;
	}
	.text{
		font-size: 1.15rem;
	}
	.price{
		font-size: 1.05em;
	}

	.btn{
		display: block;
	}
	.btn.btn-lg{
		padding: 0.8rem 1.2rem;
		font-size: 0.85rem !important;
	}
	.btn.btn-md{
		padding: 0.7rem 1rem;
		font-size: 0.8rem !important;
	}
	.btn.btn-sm{
		padding: 0.6rem 0.9rem;
		font-size: 0.775rem !important;
	}
	.btn.btn-mc{
		padding: 0.5rem 0.8rem;
		font-size: 0.75rem !important;
	}

	.block{
		padding: .5rem 1.6rem;
		font-size: .75rem
	}

	.section__inner{
		padding: 20px 15px;
	}
	.section__flex{
		margin: 0;
	}

	.block{
		margin: 10px 0;
		flex-basis: 100%;
	}
	.section__flex.w60{
		width: 95%;
	}
	.block-plus{
		flex-basis: 100%;
	}
	.block-show:hover > img{
		transform: none;
	}
	.block-show .price{
		font-weight: 700;
	}

	.section-aside-name .section__inner{
		padding: 10px 10px;
	}
	.section-aside-name h2{
		writing-mode: vertical-lr;
		text-orientation: upright;
	}

	.form-subscribe__input-text{
		display: block;
		width: 80%;
		margin: 15px auto;
	}
	.form-subscribe__btn{
		display: block;
		width: 50%;
		margin: 15px auto !important;
	}

}

/* ---------------------- 430 - 450 --------------------- */

@media screen and (max-width: 450px) {

	.body {
		font-size: 14px;
	}
	.header__cart-text{
		display: none;
	}

}
@media screen and (max-width: 450px) {

	.cart__block__row{
		grid-template-areas: "cbr_icon"
							 "cbr_info"
							 "cbr_btns";
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
	}
	.cart__block__row-icon{
		justify-content: center;
	}
	.cart__block__row-icon img{
		height: auto;
		width: 80%;
	}
	.cart__block__row-info{
		margin-left: 10px;
	}

}