{% extends 'base.html' %}


{% block page_style %}

	<link rel="stylesheet" href="{{ url_for( 'core.static', filename = 'css/pages/cart.css' ) }}">

{% endblock %}


{% block main %}

	<div class="main__inner">
		<section class="section clr-light">
			<div class="section__inner">
				<h1 class="title title-h1">Корзина</h1>

				<p class="text">Здесь все ваши покупки</p>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<div class="cart__block" id="script__cart">

				</div>
			</div>
		</section>

		<section class="section clr-purple">
			<div class="section__inner">
				<p class="title title-h3 ">Итого: <span class="scripts__soap-cost">0</span> ₽</p>

				<div>
					<button class="btn btn-lg btn-round btn-bold btn-pink">Оформить заказ</button>
				</div>
			</div>
		</section>
	</div>

{% endblock %}


{% block add_blocks %}
{% raw %}

	<script id="script__cart-template" type="text/html">
		<div class="cart__block__row">
			<div class="cart__block__row-icon">
				<img src="/img/photos/{{:image}}.png" alt="{{:name}}">
			</div>
			<div class="cart__block__row-info">
				<h3 class="title title-h4">{{:name}}</h3>
				<p class="text text-md">Цвет: {{:color}}</p>
				<p class="text text-md">Аромат: {{:aroma}}</p>
				<p class="text price-wrap">Цена: <span class="price">{{:price}} ₽</span> </p>
			</div>
			<div class="cart__block__row-btns">
				<button class="btn btn-bold btn-round btn-white"
						data-soap-id="{{:id}}" onclick="setLessSoap(this)">-</button>
				<span class="title title-h4">{{:count}}</span>
				<button class="btn btn-bold btn-round btn-pink"
						data-soap-id="{{:id}}" onclick="setMoreSoap(this)">+</button>
			</div>
		</div>
	</script>

{% endraw %}
{% endblock %}
