{% extends 'base.html' %}


{% block main %}

	<div class="main__inner main__inner-aside">
		<aside class="aside__content aside__content-sticky">
			<section class="section section-filter-aside clr-light">
				<div class="section__inner">
					<p class="title title-h3">Выбор мыла:</p>

					<button class="btn btn-bold btn-round btn-white block w100"
							data-filter="*" onclick=filter(event)>Всё</button>

					<button class="btn btn-bold btn-round btn-white block w100"
							data-filter="f-bears" onclick=filter(event)>Мишки</button>

					<button class="btn btn-bold btn-round btn-white block w100"
							data-filter="f-puppy" onclick=filter(event)>Щенки</button>

					<button class="btn btn-bold btn-round btn-white block w100"
							data-filter="f-penguin" onclick=filter(event)>Пингвины</button>
				</div>
			</section>
		</aside>

		<div class="main__content">
			<section class="section clr-light">
				<div class="section__inner">
					<h1 class="title title-h1">Каталог</h1>

					<p class="text">Список всей нашей продукции</p>
				</div>
			</section>

			<section class="section section-filter-main clr-light">
				<div class="section__inner">
					<p class="title title-h3">Выбор мыла:</p>

					<div class="section__flex">
						<button class="btn btn-bold btn-round btn-white block"
								data-filter="*" onclick=filter(event)>Всё</button>

						<button class="btn btn-bold btn-round btn-white block"
								data-filter="f-bears" onclick=filter(event)>Мишки</button>

						<button class="btn btn-bold btn-round btn-white block"
								data-filter="f-puppy" onclick=filter(event)>Щенки</button>

						<button class="btn btn-bold btn-round btn-white block"
								data-filter="f-penguin" onclick=filter(event)>Пингвины</button>
					</div>
				</div>
			</section>

			<section class="section clr-light">
				<div class="section__inner">
					<div class="section__flex no-grow section__filter w100">
						{% for soap in soaps %}

							<div class="block block-show clr-pink
								{% if soap.type == "BEAR" %} f-bears {% endif %}
								{% if soap.type == "PUPPY" %} f-puppy {% endif %}
								{% if soap.type == "PENGUIN" %} f-penguin {% endif %}
							">
								<img src="{{ url_for( 'core.static', filename = 'img/photos/'+soap.image+'.png') }}"
									 alt="{{ soap.title }}">

								<h3 class="title title-h3">
									{{ soap.title }}
								</h3>

								<p class="text price-wrap">от <span class="price">{{ soap.price }} ₽</span> / 1 шт</p>

								<p class="text">
									<a class="btn btn-sm btn-round btn-bold inline-block btn-white"
									   href="
										{% if soap.type == "BEAR" %} {{ url_for( "core.info_bear" ) }} {% endif %}
										{% if soap.type == "PUPPY" %} {{ url_for( "core.info_puppy" ) }} {% endif %}
										{% if soap.type == "PENGUIN" %} {{ url_for( "core.info_penguin" ) }} {% endif %}
									">
										Инфо</a>

									<a class="btn btn-sm btn-round btn-bold btn-pink inline-block hidden"
									   href="{{ url_for('core.cart') }}">
										Взято (1)</a>

									<button class="btn btn-sm btn-round btn-bold btn-pink inline-block"
											onclick="buySoap(this)"
											data-soap-id="{{ soap.id }}"
											data-soap-type="{{ soap.type }}"
											data-soap-name="{{ soap.title }}"
											data-soap-price="{{ soap.price }}"
											data-soap-image="{{ soap.image }}"
											data-soap-color="{{ soap.color }}"
											data-soap-aroma="{{ soap.aroma }}">
										Купить
									</button>
								</p>
							</div>

						{% endfor %}
					</div>
				</div>
			</section>
		</div>
	</div>

{% endblock %}


{% block scripts %}

	<script src="{{ url_for( 'core.static', filename = 'js/src/filter.js' ) }}"></script>

{% endblock %}
