{% extends 'base.html' %}


{% block main %}

	<div class="main__inner">
		<section class="section clr-light">
			<div class="section__inner">
				<h1 class="title title-h1">Наши контакты</h1>

				<p class="text">Работаем каждый день, пока солнце ещё высоко.</p>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<h2 class="title title-h2">Звоните и пишите:</h2>

				<div class="section__flex w60">
					<div class="block-plus w50">
						<img src="{{ url_for( 'core.static', filename = 'img/icons/telegram.svg' ) }}" alt="logo">
						<p class="text">8 (800) 555-35-35</p>
					</div>

					<div class="block-plus w50">
						<img src="{{ url_for( 'core.static', filename = 'img/icons/whats_app.svg' ) }}" alt="logo">
						<p class="text">8 (800) 555-35-35</p>
					</div>

					<div class="block-plus w50">
						<img src="{{ url_for( 'core.static', filename = 'img/icons/mail.svg' ) }}" alt="logo">
						<p class="text">soap@example.com</p>
					</div>

					<div class="block-plus w50">
						<img src="{{ url_for( 'core.static', filename = 'img/icons/products.svg' ) }}" alt="logo">
						<p class="text">ул. Пушкина 41</p>
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}