{% extends 'base.html' %}


{% block page_style %}

	<style>
		.rects{
			display: flex;
			flex-wrap: wrap;
		}
		.rect{
			width: 150px;
			height: 75px;
			border: 1px solid black;
			border-radius: 10px;
			margin: 10px;
		}
	</style>

{% endblock %}


{% block main %}

	<div class="main__inner">
		<section class="section clr-light">
			<div class="section__inner">
				<h1 class="title title-h1">Заголовок H1</h1>
				<h2 class="title title-h2">Заголовок H2</h2>
				<h3 class="title title-h3">Заголовок H3</h3>
				<h4 class="title title-h4">Заголовок H4</h4>
				<h5 class="title title-h5">Заголовок H5</h5>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<p class="text text-sm">Маленький текст</p>
				<p class="text text-md">Обычный текст</p>
				<p class="text">Выставочный текст</p>
				<p class="text text-lg">Большой текст</p>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<p class="text price-wrap">цена от <span class="price">1000 ₽</span></p>

				<p class="text monospace">Моноширинный текст</p>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<a class="link text" href="">Ссылка</a>
				<a class="link disabled" href="" disabled="true">Ссылка</a>

				<br />

				<a class="link" href="">Ссылка</a>
				<a class="link hover" href="">Ссылка</a>
				<a class="link active" href="">Ссылка</a>
				<a class="link focus" href="">Ссылка</a>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<h3 class="title title-h3">Список тегов:</h3>

				<ul class="tags-list text">
					<li>tag</li><li>tag</li><li>tag</li><li>tag</li><li>tag</li>
					<li>tag</li><li>tag</li><li>tag</li><li>tag</li><li>tag</li>
					<li>tag</li><li>tag</li><li>tag</li><li>tag</li><li>tag</li>
					<li>tag</li><li>tag</li><li>tag</li><li>tag</li><li>tag</li>
					<li>tag</li><li>tag</li><li>tag</li><li>tag</li><li>tag</li>
				</ul>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<div class="rects">
					<div class="rect" style="background-color: var(--color-white)"></div>
					<div class="rect" style="background-color: var(--color-lightgray)"></div>
					<div class="rect" style="background-color: var(--color-gray)"></div>
					<div class="rect" style="background-color: var(--color-darkgray)"></div>
					<div class="rect" style="background-color: var(--color-black)"></div>
				</div>

				<div class="rects">
					<div class="rect" style="background-color: var(--color-light)"></div>
					<div class="rect" style="background-color: var(--color-pink)"></div>
					<div class="rect" style="background-color: var(--color-darkpink)"></div>
					<div class="rect" style="background-color: var(--color-purple)"></div>
				</div>

				<div class="rects">
					<div class="rect" style="background-color: var(--color-success)"></div>
					<div class="rect" style="background-color: var(--color-danger)"></div>
				</div>

				<div class="rects">
					<div class="rect" style="background-color: var(--color-link)"></div>
					<div class="rect" style="background-color: var(--color-link-hover)"></div>
					<div class="rect" style="background-color: var(--color-link-active)"></div>
					<div class="rect" style="background-color: var(--color-link-focus)"></div>
				</div>

				<div class="rects">
					<div class="rect" style="background-color: var(--color-extra-lightgray)"></div>
				</div>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<table class="table table-sm">
					<thead>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					<tbody>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					</tbody>
				</table>

				<br>

				<table class="table table-md table-hor table-vert table-hover">
					<thead>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					<tbody>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					</tbody>
				</table>

				<br>

				<table class="table table-lg table-full">
					<thead>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					</tbody>
					<tfoot>
					<tr>
						<td>Ячейка таблицы</td>
						<td>Ячейка таблицы</td>
					</tr>
					</tfoot>
				</table>
			</div>
		</section>

		<section class="section clr-pink">
			<div class="section__inner">
				<button class="btn inline">Кнопка</button>

				<button class="btn hover inline">Кнопка</button>

				<button class="btn active inline">Кнопка</button>

				<button class="btn focus inline">Кнопка</button>

				<button class="btn disabled inline">Кнопка</button>
			</div>
		</section>

		<section class="section clr-pink">
			<div class="section__inner">
				<button class="btn btn-square inline">Кнопка</button>

				<button class="btn inline">Кнопка</button>

				<button class="btn btn-rounded inline">Кнопка</button>

				<button class="btn btn-round inline">Кнопка</button>
			</div>
		</section>

		<section class="section clr-pink">
			<div class="section__inner">
				<button class="btn btn-mc inline">Кнопка</button>

				<button class="btn btn-sm inline">Кнопка</button>

				<button class="btn btn-md inline">Кнопка</button>

				<button class="btn inline">Кнопка</button>

				<button class="btn btn-lg inline">Кнопка</button>
			</div>
		</section>

		<section class="section clr-pink">
			<div class="section__inner">
				<button class="btn btn-white inline">Кнопка</button>

				<button class="btn btn-pink inline">Кнопка</button>

				<button class="btn btn-success inline">Кнопка</button>

				<button class="btn btn-danger inline">Кнопка</button>
			</div>
		</section>

		<section class="section clr-purple">
			<div class="section__inner">
				<form class="form form-60" action="">
					<fieldset class="form__fieldset">
						<legend>Имя</legend>

						<label class="form__label">
							Имя:
							<input class="form__input" type="text" id="name" placeholder="Ваше имя...">
						</label>

						<label class="form__label">
							Фамилия:
							<input class="form__input" type="text" id="lastname" placeholder="Ваша фамилия">
						</label>
					</fieldset>

					<fieldset class="form__fieldset">
						<legend>Контактные данные</legend>

						<label class="form__label">
							Телефон:
							<input class="form__input" type="tel" id="tel" placeholder="88005553535">
						</label>

						<label class="form__label">
							Эл. почта:
							<input class="form__input" type="email" id="email" placeholder="soap@example.com">
						</label>

						<label class="form__label">
							Пол:
							<ul class="form__input form__input-radio" id="sex">
								<li><input id="sex-0" name="sex" type="radio" value="M"> <label for="sex-0">Male</label></li>
								<li><input id="sex-1" name="sex" type="radio" value="F"> <label for="sex-1">Female</label></li>
								<li><input checked="" id="sex-2" name="sex" type="radio" value="N"> <label for="sex-2">None</label></li>
							</ul>
						</label>
					</fieldset>

					<input class="btn btn-round btn-white" type="submit">
				</form>

				<div class="notice clr-success clr-white-text" onclick="this.classList.add('none')">
					Данные успешно оправлены
				</div>

				<div class="notice clr-danger clr-white-text" onclick="this.classList.add('none')">
					Данные не доставлены
				</div>
			</div>
		</section>
	</div>

{% endblock %}