{% extends 'base.html' %}


{% block main %}

	<div class="main__inner">
		<section class="section clr-purple">
			<div class="section__inner">
				<h1 class="title title-h1">Мыло ручной работы №1 в мире</h1>

				<div class="section__flex w60">
					<div class="block-plus w50">
						<img src="{{ url_for( 'static', filename = 'img/icons/like.svg' ) }}"
							 alt="svg icon" aria-disabled="true">
						<p class="text">Делаем мыло своими ручками. Поэтому оно ручной работы.</p>
					</div>

					<div class="block-plus w50">
						<img src="{{ url_for( 'static', filename = 'img/icons/like.svg' ) }}"
							 alt="svg icon" aria-disabled="true">
						<p class="text">Если у вас мыло ручной работы, то оно прирученное.</p>
					</div>

					<div class="block-plus w50">
						<img src="{{ url_for( 'static', filename = 'img/icons/like.svg' ) }}"
							 alt="svg icon" aria-disabled="true">
						<p class="text">Если мыло прирученное, то значит, оно не дикое.</p>
					</div>

					<div class="block-plus w50">
						<img src="{{ url_for( 'static', filename = 'img/icons/like.svg' ) }}"
							 alt="svg icon" aria-disabled="true">
						<p class="text">Если мыло не дикое, значит оно лучшее. Всё по фактам.</p>
					</div>
				</div>

				<br><br>

				<div>
					<a class="btn btn-lg btn-round btn-bold btn-white inline-block"
					   href="{{ url_for('price_list') }}">
						Посмотреть прайс-лист
					</a>

					<a class="btn btn-lg btn-round btn-bold btn-pink inline-block"
					   href="{{ url_for('catalog') }}">
						Заказать
					</a>
				</div>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<h2 class="title title-h2">Почему мы?</h2>

				<div class="section__flex w100">
					<div class="block clr-purple">
						<h3 class="title title-h3">
							Мы крутые
						</h3>

						<p class="text text-md">Так думает даже Чак Норрис. Реально.</p>
					</div>

					<div class="block clr-purple">
						<h3 class="title title-h3">
							Мы топовые
						</h3>

						<p class="text text-md">Прям по факту. Иначе и быть не может.</p>
					</div>

					<div class="block clr-purple">
						<h3 class="title title-h3">
							Мы единственные
						</h3>

						<p class="text text-md">А кто, если не мы? У нас всё лучшее.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<h2 class="title title-h2">Популярные товары</h2>

				<div class="section__flex no-grow w100">
					<div class="block block-show clr-pink">
						<img src="{{ url_for( 'static', filename = 'img/photos/bears.png' ) }}" alt="мишки">

						<h3 class="title title-h3">
							Мишки
						</h3>

						<p class="text price-wrap">от <span class="price">500 ₽</span> / 1 шт</p>
					</div>

					<div class="block block-show clr-pink">
						<img src="{{ url_for( 'static', filename = 'img/photos/puppy_blue.png' ) }}" alt="щенок">

						<h3 class="title title-h3">
							Щеночки
						</h3>

						<p class="text price-wrap">от <span class="price">1 000 ₽</span> / 1 шт</p>
					</div>

					<div class="block block-show clr-pink">
						<img src="{{ url_for( 'static', filename = 'img/photos/penguin.png' ) }}" alt="пингвин">

						<h3 class="title title-h3">
							Пингвины
						</h3>

						<p class="text price-wrap">от <span class="price">1 000 ₽</span> / 1 шт</p>
					</div>
				</div>

				<br>

				<div>
					<a class="btn btn-lg btn-round btn-bold btn-white inline-block"
					   href="{{ url_for('catalog') }}">
						Смотреть все товары
					</a>
				</div>
			</div>
		</section>

		<section class="section clr-purple">
			<div class="section__inner">
				<h2 class="title title-h2">Подпишись на новости!</h2>

				<form class="form-subscribe" action="" method="POST">
					<label for="email"></label>
					<input class="form-subscribe__input-text"
						   type="email" id="email" name="email" placeholder="email" required>
					<button class="form-subscribe__btn btn btn-md btn-pink btn-round btn-bold" type="submit">
						Подписаться
					</button>
				</form>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<h2 class="title title-h2">Нас хвалят и возносят</h2>

				<div class="section__flex w100">
					<div class="block block-feedback">
						<img class="block-feedback__ava" src="{{ url_for( 'static', filename = 'img/avatars/Tkach.jpg' ) }}" alt="ava">

						<p class="block-feedback__name title title-h3">Даниэль</p>

						<img class="block-feedback__like" src="{{ url_for( 'static', filename = 'img/icons/like.png' ) }}" alt="like">

						<p class="block-feedback__text text">Интересный градиент получился 🙌</p>
					</div>

					<div class="block block-feedback">
						<img class="block-feedback__ava" src="{{ url_for( 'static', filename = 'img/avatars/Tihon.jpg' ) }}" alt="ava">

						<p class="block-feedback__name title title-h3">Тихохон</p>

						<img class="block-feedback__like" src="{{ url_for( 'static', filename = 'img/icons/like.png' ) }}" alt="like">

						<p class="block-feedback__text text">Нормальный такой сюрикен</p>
					</div>

					<div class="block block-feedback">
						<img class="block-feedback__ava" src="{{ url_for( 'static', filename = 'img/avatars/Mamanya_Zya.jpg' ) }}" alt="ava">

						<p class="block-feedback__name title title-h3">Маман</p>

						<img class="block-feedback__like" src="{{ url_for( 'static', filename = 'img/icons/like.png' ) }}" alt="like">

						<p class="block-feedback__text text">Красиво. 👍😁</p>
					</div>

					<div class="block block-feedback">
						<img class="block-feedback__ava" src="{{ url_for( 'static', filename = 'img/avatars/Sergo.jpg' ) }}" alt="ava">

						<p class="block-feedback__name title title-h3">Серго</p>

						<img class="block-feedback__like" src="{{ url_for( 'static', filename = 'img/icons/like.png' ) }}" alt="like">

						<p class="block-feedback__text text">Найс пингвин</p>
					</div>

					<div class="block block-feedback">
						<img class="block-feedback__ava" src="{{ url_for( 'static', filename = 'img/avatars/Shima.jpg' ) }}" alt="ava">

						<p class="block-feedback__name title title-h3">Шима</p>

						<img class="block-feedback__like" src="{{ url_for( 'static', filename = 'img/icons/like.png' ) }}" alt="like">

						<p class="block-feedback__text text">Мне даже нечего сказать)</p>
					</div>

					<div class="block block-feedback">
						<img class="block-feedback__ava" src="{{ url_for( 'static', filename = 'img/avatars/user.png' ) }}" alt="ava">

						<p class="block-feedback__name title title-h3 clr-grey-text">Ваше имя</p>

						<img class="block-feedback__like" src="{{ url_for( 'static', filename = 'img/icons/like.png' ) }}" alt="like">

						<p class="block-feedback__text text clr-darkgrey-text">Тут можете быть и вы</p>
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}