{% extends 'base.html' %}


{% block main %}

	<div class="main__inner">
		<section class="section clr-light">
			<div class="section__inner">
				<h1 class="title title-h1">
					<span class="text-sm">
						<a href="catalog.html" class="link inline">Каталог</a> /
					</span>
					Пингвин
				</h1>

				<p class="text">Мыльные пингвины не плавают.</p>
			</div>
		</section>

		<section class="section clr-light">
			<div class="section__inner">
				<p class="title title-h3">Имеющиеся цвета для заказа:</p>

				<ul class="text tags-list">
					<li>Жёлтый</li>
					<li>Синий</li>
					<li>Красный</li>
					<li>Оранжевый</li>
					<li>Голубой</li>
					<li>Зелёный</li>
					<li>Мятный</li>
					<li>Бирюзовый</li>
					<li>Розовый</li>
					<li>Фиолетовый</li>
					<li>Фуксия</li>
					<li>Прозрачный</li>
				</ul>

				<p class="title title-h3">Имеющиеся запахи для заказа:</p>

				<ul class="text tags-list">
					<li>Иланг-иланг</li>
					<li>Пачули</li>
					<li>Дыня</li>
					<li>Банан</li>
					<li>Капучино</li>
					<li>Океан</li>
					<li>Бергамот</li>
					<li>Лимон</li>
					<li>Зефир</li>
				</ul>
			</div>
		</section>
	</div>

{% endblock %}