{% extends 'base.html' %}


{% block main %}

	<div class="main__inner">
		<section class="section clr-light">
			<div class="section__inner">
				<h1 class="title title-h1">Прайс-лист</h1>

				<p class="text">Наши цены не кусаются - они сразу откусывают руки.</p>
			</div>
		</section>
	</div>

	<div class="main__inner main__inner-aside">
		<aside class="aside__content">
			<section class="section section-aside-name clr-purple">
				<div class="section__inner">
					<h2 class="title title-h3 monospace">Мишки   </h2>
				</div>
			</section>
		</aside>

		<div class="main__content">
			<section class="section clr-light">
				<div class="section__inner">
					<h3 class="title title-h3">Мишки</h3>

					<table class="table table-hor table-md table-hover">
						<tbody>
						<tr>
							<td>Мишка синий</td>
							<td class="price">500 ₽</td>
						</tr>

						<tr>
							<td>Мишка голубой</td>
							<td class="price">500 ₽</td>
						</tr>

						<tr>
							<td>Мишка зелёный</td>
							<td class="price">500 ₽</td>
						</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>

	<br>

	<div class="main__inner main__inner-aside">
		<aside class="aside__content">
			<section class="section section-aside-name clr-pink">
				<div class="section__inner">
					<h2 class="title title-h3 monospace">Щеночки </h2>
				</div>
			</section>
		</aside>

		<div class="main__content">
			<section class="section clr-light">
				<div class="section__inner">
					<h3 class="title title-h3">Щеночки</h3>

					<table class="table table-hor table-md table-hover">
						<tbody>
						<tr>
							<td>Щеночек синий</td>
							<td class="price">1000 ₽</td>
						</tr>

						<tr>
							<td>Щеночек голубой</td>
							<td class="price">1000 ₽</td>
						</tr>

						<tr>
							<td>Щеночек зелёный</td>
							<td class="price">1000 ₽</td>
						</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>

	<br>

	<div class="main__inner main__inner-aside">
		<aside class="aside__content">
			<section class="section section-aside-name clr-purple">
				<div class="section__inner">
					<h2 class="title title-h3 monospace">Пингвины</h2>
				</div>
			</section>
		</aside>

		<div class="main__content">
			<section class="section clr-light">
				<div class="section__inner">
					<h3 class="title title-h3">Пингвины</h3>

					<table class="table table-hor table-md table-hover">
						<tbody>
						<tr>
							<td>Пингвин синий</td>
							<td class="price">1000 ₽</td>
						</tr>

						<tr>
							<td>Пингвин голубой</td>
							<td class="price">1000 ₽</td>
						</tr>

						<tr>
							<td>Пингвин зелёный</td>
							<td class="price">1000 ₽</td>
						</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>

{% endblock %}